.show-comment:hover{
    color: red !important;
}
.body > .w-100:hover{
    color: blue !important;
    background-color:gainsboro !important;
}
.card{
    width: 100%;
    margin-bottom: 30px !important;
}
.avatar{
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 20px;
}
.card .body{
    padding: 8px !important;
}
.card .body button{
    background-color: transparent;
    width: 100%;
    border: none;
    color: black;
    padding: 5px !important;
    font-size: larger;
}
.card .body button i{
    margin-right: 5px !important;
}
.card form {
    padding: 8px !important;
}
.card .comment {
    padding: 5px !important;
}

