.widgets{
    position: fixed !important;
    overflow-y: hidden;
    height: calc(100vh - 50px);
    scrollbar-gutter: stable;
    width: inherit;
    padding-right: 10px !important;
    margin-right: 1px !important;
}
.widgets img{
    width: 100%;
}
.widgets:hover{
    overflow-y: auto;
}
