#index-page {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
    top: 60px;
    overflow: auto;
    scrollbar-gutter: stable;
}

#side-bar {
    width: 100%;
}

#feed {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-self: center;
    width: 70%;
}

#widgets {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media only screen and (max-width: 1100px) {
    #index-page {
        grid-template-columns: 70% 30%;
        justify-content: center;
    }
    #feed{
        min-width: 100%;
    }
    #side-bar {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    #index-page {
        grid-template-columns: 100%;
    }
    
    #widgets {
        display: none;
    }
}
