.card{
    min-width: 100%;
    position: relative;
}
.avatar{
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 20px;
}
.card .body{
    padding: 5px !important;
    border-top: 2px solid #f0f2f5;
    border-bottom: 2px solid #f0f2f5;
    width: 90%;
    margin: 0 auto;
}
.card .body button:hover{
    background-color: #f0f2f5;
}

.card .body button{
    background-color: transparent;
    width: 100%;
    color: black;
    border: none;
}
.card .body button i{
    margin-right: 5px !important;
}
.card form {
    padding: 8px !important;
}
.card .comment {
    resize: none;
    max-height: 100px;
    background-color: #f0f2f5;
    border: transparent;
    padding: 0 10px 0 10px !important;
}