.register-page{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    z-index: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.register-page .modal-content{
    width: 450px;
    height: calc(500px);
    border: transparent !important;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    overflow-y: auto;
}
.register-page .modal-content .top{
    display: flex;
    padding: 10px 20px 10px 20px !important;
    justify-content: space-between;
    align-items: baseline;
}
.register-page .modal-content .top i{
    opacity: 0.7;
    cursor: pointer;
}
.register-page .modal-content form .name{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}
.register-page .modal-content form .gender .person{
    display: flex;
    justify-content: space-between;
    margin: 0px !important;
    gap: 15px;
}
.register-page .modal-content form .gender .person > div{
    border-radius: 10px;
    display: flex;
    border: 1px solid #ccd0d5;
    width: 100%;
    margin: 0 !important;
    padding: 10px !important;
}
.register-page .modal-content form input {
    background-color: #f5f6f7;
    width: 100%;
    padding: 5px;
    margin: 2px 0 !important;
    border: 1px solid #ccd0d5 !important;
    border-radius: 5px;
}
.register-page .modal-content form .gender .person label {
    font-weight: 400;
    display: flex;
    border-radius: 5px;
    border: 1px solid #ccd0d5 !important;
    padding: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.register-page .modal-content form .gender .person input {
    width: fit-content !important;
}
.register-page .modal-content form div{
    margin: 10px !important;
}
.register-page .modal-content .top .close {
    cursor: pointer;
    background-color: #e4e6eb;
    border: transparent;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    padding: 15px !important;
    justify-self: end;
}